* {
    box-sizing:border-box;
}


@font-face {
    font-family:Nobile;
    src: url('Fonts/Nobile-Regular.ttf');
}

html {
    font-family: Nobile,Arial, Helvetica, sans-serif ;
}

body {
    background-color:#ffffff;
    margin:0;
}

h1 {
    font-size: 6rem;
    margin: 7rem 3rem 0 3rem;
    Font-weight: bold;
}

h2 {
    font-size:3rem;
    Margin: 7rem 3rem 3rem 3rem;
}

p {
    font-family:Nobile,Arial, Helvetica, sans-serif;
    font-size:1rem;
    margin: .5rem 3rem 3rem 3rem;
   }

.caseheadtext {
    position: absolute;
    left:5rem;
    font-size:4rem;
    Margin: 7rem 3rem 3rem 3rem;
}

img {
    width:100%;
    height:100%;
}

.headimg {
    width:100%;
    border: 0;   
}



p.title{
    margin: .5rem 3rem 0 3rem;
    font-weight:bold;
}
/*
/* [ON BIG SCREEN] */
/* (A) WRAPPER */
#hamnav {
    width: 100%;
    background: #000;
  }
  
  /* (B) HORIZONTAL MENU ITEMS */
  #hamitems { display: flex; }
  #hamitems a {
    flex-grow: 1;
    flex-basis: 0;
    padding: 10px;
    color: white;
    text-decoration: none;
    text-align: center;
  }
  #hamitems a:hover { background: #af0d0d; }
  
  /* (C) HIDE HAMBURGER */
  #hamnav label, #hamburger { display: none; } 

  /* [ON SMALL SCREENS] */
@media screen and (max-width: 768px){
    /* (A) BREAK INTO VERTICAL MENU */
    #hamitems a {
      box-sizing: border-box;
      display: block;
      width: 100%;
      border-top: 1px solid #333;
    }
   
    /* (B) SHOW HAMBURGER ICON */
    #hamnav label { 
      display: inline-block; 
      color: white;
      background: #a02620;
      font-style: normal;
      font-size: 1.2em;
      padding: 10px;
    }
  
    /* (C) TOGGLE SHOW/HIDE MENU */
    #hamitems { display: none; }
    #hamnav input:checked ~ #hamitems { display: block; }
  }



/** Home Page **/
.headcon {
    position:relative;
    width:100%;
}

.headtext {
    position:absolute;
    top: 30%;
    left: 10%;
}

.subheadtext{
    font-size: 8rem;
    margin: 0 0 2rem 0;
}

.sub2headtext{
    font-size:2.5rem;
    margin: 0 0 1rem 0;
}

.boardcon {
    position:relative;
    width:100%;
    height:100%;
}

.boardtext {
    position: absolute;
    top:50%;
    left: 50%;
    transform:translate(-50%,-50%);
    width: 70%;
    height: 60%;
    background-color:#89A3B2;
    color: white;
    /**
    bottom: 74%;
    right: 9%;
    height: 45rem;
    background-color:#89A3B2;
    color: white;
    width: 50rem;
    opacity:98%; **/
}

.h2con {
    position:relative;
    width:100%;
}

.h2text {
    position: absolute;
    top:50%;
    left: 50%;
    transform:translate(-50%,-50%);
    width: 70%;
    height: 60%;
    background-color:#5E6073;
    opacity:98%;
    color: white;
    
    /**
    position: absolute;
    bottom: 60%;
    right: 9%;
    height: 45rem;
    background-color:#5E6073;
    color: white;
    width: 50rem;
    opacity:98%; **/
}

.hometext {
    font-size: 4rem;
    padding-left: 8rem;
    margin: 6rem auto 3rem auto;
}

.jervocon {
    position:relative;
    width:100%;
}

.jervotext {
    position: absolute;
    top:50%;
    left: 50%;
    transform:translate(-50%,-50%);
    width: 70%;
    height: 60%;
    opacity:98%;
    color: white;
    background-color:#B2D3BE;
}

.hometext {
    font-size: 4rem;
    padding-left: 8rem;
    margin: 6rem auto 3rem auto;
}

h5+p {
    font-size: 3rem;
    margin: 0 auto 3rem auto;
    padding-left: 8rem;
    padding-right: 8rem;
}

h5+p+p {
    font-size: 3rem;
    margin: 11rem auto 3rem auto;
    padding-left: 8rem;
    padding-right: 8rem;    
}


ol, ul {
    margin: auto auto 2.5rem 3rem;
}

/** about page **/

.abtitle {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin: 2rem auto 3rem auto;

}

.abtext {
    font-size: 1rem;
    padding:0;
    margin: 1rem 3rem 3rem 3rem;
}

.abtexta {
    font-size: 1rem;
    padding:0;
    margin: 0 0 .2rem 3rem;

}

.abtexta+h5 {
    margin:.2rem 0 1rem 3rem;
    font-weight: bold;
}

.ablist{
    margin: 3rem 3rem 0 3rem;
}

