{
    "editor.defaultFormatter": "esbenp.prettier-vscode",
    "[javascript]": {
      "editor.defaultFormatter": "<another formatter>"
    }
  }

  

@font-face {
    font-family:Nobile;
    src: url('Fonts/Nobile-Regular.ttf');
}

html {
    font-family: Nobile,Arial, Helvetica, sans-serif ;
   
}

body {
    background-color:#ffffff;
    height:100%;
    width: 100%;
    margin:0 0 0 0;
    
}

h1 {
    font-size: 6rem;
    margin: 7rem 3rem 0 3rem;
    Font-weight: bold;
}

h2 {
    font-size:3rem;
    Margin: 7rem 3rem 3rem 3rem;
}

p {
    font-family:Nobile,Arial, Helvetica, sans-serif;
    font-size:1rem;
    margin: .5rem 3rem 3rem 3rem;
   }

.caseheadtext {
    position: absolute;
    right:5rem;
    top: 2rem;
    font-size:4rem;
    margin:0;
    
}

img {
    width:100%;
    height:100%;
}

.headimg {
    width:100%;
    border: 0;   
}


p.title{
    margin: .5rem 3rem 0 3rem;
    font-weight:bold;
}





/*
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT License
 *
 *
 * If you are thinking of using this in
 * production code, beware of the browser
 * prefixes.
 */


nav {
    background-color:#B2D3BE ;
}

#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #232323;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}


/** Home Page **/
.headcon {
    position:relative;
    width:100%;
}

.headtext {
    position:absolute;
    top: 30%;
    left: 10%;
}

.subheadtext{
    font-size: 8rem;
    margin: 0 0 2rem 0;
}

.sub2headtext{
    font-size:2.5rem;
    margin: 0 0 1rem 0;
}

.boardcon {
    position:relative;
    width:100%;
    height:100%;
}

.boardtext {
    position: absolute;
    top:50%;
    left: 50%;
    transform:translate(-50%,-50%);
    width: 70%;
    height: 60%;
    background-color:#89A3B2;
    color: white;
    /**
    bottom: 74%;
    right: 9%;
    height: 45rem;
    background-color:#89A3B2;
    color: white;
    width: 50rem;
    opacity:98%; **/
}

.h2con {
    position:relative;
    width:100%;
}

.h2text {
    position: absolute;
    top:50%;
    left: 50%;
    transform:translate(-50%,-50%);
    width: 70%;
    height: 60%;
    background-color:#5E6073;
    opacity:98%;
    color: white;
    
    /**
    position: absolute;
    bottom: 60%;
    right: 9%;
    height: 45rem;
    background-color:#5E6073;
    color: white;
    width: 50rem;
    opacity:98%; **/
}

.hometext {
    font-size: 4rem;
    padding-left: 8rem;
    margin: 6rem auto 3rem auto;
}

.jervocon {
    position:relative;
    width:100%;
}

.jervotext {
    position: absolute;
    top:50%;
    left: 50%;
    transform:translate(-50%,-50%);
    width: 70%;
    height: 60%;
    opacity:98%;
    color: white;
    background-color:#B2D3BE;
}

.hometext {
    font-size: 4rem;
    padding-left: 8rem;
    margin: 6rem auto 3rem auto;
}

h5+p {
    font-size: 3rem;
    margin: 0 auto 3rem auto;
    padding-left: 8rem;
    padding-right: 8rem;
}

h5+p+p {
    font-size: 3rem;
    margin: 11rem auto 3rem auto;
    padding-left: 8rem;
    padding-right: 8rem;    
}


ol, ul {
    margin: auto auto 2.5rem 3rem;
}

/** about page **/

.abtitle {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin: 2rem auto 3rem auto;

}

.abtext {
    font-size: 1rem;
    padding:0;
    margin: 1rem 3rem 3rem 3rem;
}

.abtexta {
    font-size: 1rem;
    padding:0;
    margin: 0 0 .2rem 3rem;

}

.abtexta+h5 {
    margin:.2rem 0 1rem 3rem;
    font-weight: bold;
}

.ablist{
    margin: 3rem 3rem 0 3rem;
}

